<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Πιάτα</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/custom_styles.css">
</head>
<body>
<div class="backgroundDiv"><div class="overlayDiv"></div></div>

<div class="contentDiv">
<nav class="navbar navbar-expand-lg bg-light">

    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/restaurantMenu/viewRestaurantMenu/{admin}(admin=${restaurantAdmin})}">Αρχική</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

<a class="nav-link" th:if="${menusCount}" th:href="@{/restaurantMenu/addRestaurantMenu/{admin}(admin=${restaurantAdmin})}">
    Προσθήκη Νέου Μενού
</a>
                <a class="nav-link" th:href="@{/restaurantMenu/announcements/{admin}(admin=${restaurantAdmin})}">Ανακοινώσεις</a>
<a class="nav-link" th:href="@{/restaurantMenu/viewAllergenList/{admin}(admin=${restaurantAdmin})}">Αλλεργιογόνα</a>
<a class="nav-link" th:href="@{/restaurantMenu/restaurantRatings/{admin}(admin=${restaurantAdmin})}">Αξιολογήσεις Φαγητών</a>
<a class="nav-link active" th:href="@{/restaurantMenu/showAllDishes/{admin}(admin=${restaurantAdmin})}">Πιάτα</a>

        <form name="logoutButton" class="d-flex" action="/logout" method="post">
            <button class="btn btn-outline-primary" type="submit">Αποσύνδεση</button>
        </form>
            </div>
        </div>
    </div>

</nav>

<h2 data-aos="fade-up" class="text-center mt-3 mb-5">Πιάτα</h2>

    <div class="w-50 mx-auto p-3" data-aos="fade-up">
        <h4 class="text-center" th:text="'Ποσοστό όλων των Vegetarian πιάτων'"></h4>
        <h4 class="text-center" th:text="${allVegetarianDishes}+'%'"></h4>
    </div>
    <br>

    <div class="w-50 mx-auto p-3 mb-5" data-aos="fade-up">
        <h4 class="text-center" th:text="'Ποσοστό όλων των Vegan πιάτων'"></h4>
        <h4 class="text-center" th:text="${allVeganDishes}+'%'"></h4>
    </div>

<div class="w-50 mx-auto p-3">
<ul data-aos="fade-up" class="list-group" th:each="dish:${availableDishes}">
    <li class="list-group-item mb-3" th:unless="${dish.value}">
        <b><p class="text-center" th:text="'Όνομα Φαγητού'"></p></b>
        <p class="text-center" th:text="${dish.getKey().getName()}"></p>
        <b><p class="text-center" th:text="'Περιγραφή του Φαγητού'"></p></b>
        <p class="text-center" th:text="${dish.getKey().getDescription()}"></p>
        <p class="text-center" th:if="${dish.getKey().getVegetarian() && !dish.getKey().getVegan()}" th:text="Vegetarian" style="color: forestgreen;"></p>
        <p class="text-center" th:if="${dish.getKey().getVegetarian() && dish.getKey().getVegan()}" th:text="Vegan" style="color: forestgreen;"></p>

    </li>
    <li class="list-group-item" th:if="${dish.value}">
        <form action="/restaurantMenu/deleteDish" method="post">
            <b><p class="text-center" th:text="'Όνομα Φαγητού'"></p></b>
            <p class="text-center" th:text="${dish.getKey().getName()}"></p>
            <b><p class="text-center" th:text="'Περιγραφή του Φαγητού'"></p></b>
            <p class="text-center" th:text="${dish.getKey().getDescription()}"></p>
            <p class="text-center" th:if="${dish.getKey().getVegetarian() && !dish.getKey().getVegan()}" th:text="Vegetarian" style="color: forestgreen;"></p>
            <p class="text-center" th:if="${dish.getKey().getVegetarian() && dish.getKey().getVegan()}" th:text="Vegan" style="color: forestgreen;"></p>
            <label>
                <input type="hidden" name="dishId" th:value="${dish.getKey().getFoodId()}" readonly>
            </label>
            <b><p class="text-center" th:text="'Αυτό το Πιάτο δεν βρίσκεται πλέον στο Μενού και δεν έχει Αξιολογηθεί'"></p></b>
            <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary mb-3">Διαγραφή Φαγητού</button>
            </div>
        </form>
    </li>
</ul>

</div>
</div>
</body>
<script src="/js/clickedButton.js"></script>
<script src="/js/confirmDeleteMenuOrSignOut.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</html>